.telaForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(69, 100, 199);
    background: radial-gradient(ellipse at top, rgb(69, 100, 199), transparent), radial-gradient(ellipse at bottom, rgb(69, 100, 199), transparent);
}

.forms {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.titulo{
    display: flex;
    justify-content: center;
    color: white;
}

.input{
    padding: 10px;
    border: 0px ;
    margin: 10px;
    text-decoration: none;
    background-color: rgba(69, 100, 199, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-bottom: solid 2px white;

}

.input:focus{
    outline: none;
}

.submeter{
    padding: 10px;
    border: 0px ;
    border-radius: 4px;
    margin: 10px;
    text-decoration: none;
    color: rgb(24, 67, 195);
    font-size: 20px;
}

.texto{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.clicavel:hover {
    color:rgb(95, 90, 99);
    cursor: pointer;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(194, 194, 194);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(194, 194, 194);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(194, 194, 194), radial-gradient(ellipse at right, rgb(69, 100, 199), transparent), radial-gradient(ellipse at left, rgb(69, 100, 199), transparent);
}


