.background {
    width:100vw;
    height:100vh;
    background-color:#446c9e;
    border: 0;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.cabecalho {
    display: flex;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(10vh);
    width:20vw;
}

.voltar:hover {
    cursor: pointer;
    color:gray
}
.titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width:80vw;
}

.corpo{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 90vh;
}

.listaTemas {
    border-right: solid 2px white;
    width: 20vw;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.lista {
    border-right: solid 2px white;
    width: 20vw;
    list-style-type: none;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
}

.item {
    cursor: pointer;
    border-bottom: #446c9e 2px solid;
}

.item:hover{
    border-bottom: white 2px solid;
}

.ativo {
    cursor: pointer;
    border-bottom: rgb(153, 172, 209) 2px solid;
    color: rgb(153, 172, 209);
}

.ativo:hover{
    border-bottom: white 2px solid;
    color: white;
}



.listaTextos{
    width: 80vw;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

.artigo {
    font-size: 20px;
    border: solid white 2px;
    margin: 10px;
    border-radius: 5px;
    padding: 6px;
    color: aliceblue;
    background-color: #32537b;
}

.artigo:hover{
    background-color: #b4cdee;
    color: black;
    cursor: pointer;
}